<div id='footer'>
  <p> This site is maintained by <a href='http://github.com/elland'>Elland</a> but the comics are not!

 <p> This is the <a href='http://www.penguinpetes.com/Doomed_to_Obscurity/index.php'>original site</a> (you may see now why I created my own)!!

 <p> If you have any feature requests or find any bug don't hesitate mailing <a href='mailto:igor.elland@me.com'>me</a>
</div>
