<!DOCTYPE html>
<html>
  <head>
    <title>Dto</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <script type='text/javascript'>
      $(window).load(function() {
          $('.raptor').raptorize({
            'enterOn' : 'click',
            'delayTime' : 4000
            });
          });
    </script>
    <%= yield %>
    <button class='raptor'>
      Raptorize!
    </button>
  </body>
</html>
